<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	@description 调度器 
    @author 梁桂钊
    @date 2013-09-16
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
  	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
	<!-- ==========================================  调度管理  ========================================== -->
	<bean id="netQuartDAO" class="com.nomen.ntrain.quart.dao.impl.NetQuartDAOImpl" parent="nsoftDao"></bean>
	<bean id="netQuartService" class="com.nomen.ntrain.quart.service.impl.NetQuartServiceImpl">
		<property name="netQuartDAO" ref="netQuartDAO"></property>
		<property name="scheduler" ref="scheduler"></property>
	</bean>
	<bean id="netQuartAction" class="com.nomen.ntrain.quart.action.NetQuartAction" scope="prototype">
		<property name="netQuartService" ref="netQuartService"></property>
	</bean>
	
	<bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>
	<bean id="springBeanUtils" class="com.nomen.ntrain.util.SpringBeanUtils" />
	
</beans>